

.MainContainer{
    min-width: 100vw;
    background-color: rgba(17, 24, 39, 1);
    margin-bottom: 25px;
}
.MainFlex{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-between;
}
.MyNameLogo{
   
   
}
.Links{
   margin-top: 2.5vh;
  
}

.logoText{
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 20px;
}   
.textLinks{
    font-size: 15px;
    opacity: 0.8;
    font-family: "Inter", Helvetica;
    color: #ffffff;
    text-decoration: none;
}